# Ignore dataset
data/

# Ignore images
code/images/

# Ignore latex build files
report/*
!report/*.tex
!report/*.bib

# Ignore zip folders
*.zip

# Ignore everything in submission folder except for the report
submission/*
!submission/*.pdf
